# Dependencies
node_modules/
**/node_modules/

# Portable environment
node-env/

# Production builds
frontend/dist/
dist/

# Env files
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System Files
.DS_Store
Thumbs.db
